src/config_local.py
test.py
raw_videos/
mouth_rois/
features/
src/__pycache__/
*.npz
*.npy
*.pt
*.mp4
*.txt
best_tcn_model.pth
checkpoint_epoch_5.pth
checkpoint_epoch_10.pth
checkpoint_epoch_15.pth
checkpoint_epoch_20.pth
.gitignore
training_history.json
.vscode/settings.json
